body{
    background: url("image/bg.jpg");
}
#can{
    background: black;
}
#candiv{
    padding: 10px;
}
.player{
    border: 2px solid black;border-radius: 20px;padding: 8px;
    background-color: black;
    margin-top: 5px;
}
#msg{
    color: white;
    font-size: 18px;
}
#msg span{
    margin-right: 10px;
}
#candiv button,select{
    width: 60px;
    height: 30px;
    font-size: 14px;
    border-radius: 5px;
}
#shop{
    background: url("image/shop/bg.png") no-repeat;
    top:200px;
    left: 30%;
    z-index: 9999;
    position: absolute;
    width: 591px;
    height: 357px;
    padding: 50px;
    word-wrap: break-word;
    display: none;
}
#shop li{
    display: inline-block;
    border: 1px solid #e4e4e4;
    margin-bottom: 3px;
    margin-left: 3px;
    list-style: none;
}
#shop li img{
    width: 50px;
    height: 50px;
}
#shop ul{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}
#shop li p{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    color: lime;
    font-size: 8px;
    text-align: center;
}
#shop .gwc{
    border: 2px solid gray;
    margin-top: 10px;
    width:280px;
    height: 90px;
    padding: 2px;
}
.gwc p{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    color: lime;
    font-size: 8px;
    text-align: center;
}
.gwc legend{
    color: white;
    font-size: 10px;
}
#shop button{
    margin: 10px;
    width: 70px;
    height: 30px;
    background: gray;
    color: white;
}
#shop .buttong{
    text-align: center;
}
#p1gwc{
    float: left;
}
#p2gwc{
    float: right;
}